.git
.github
.gitignore
.env.local
.env.test

node_modules
cypress
cypress.config.ts
tsconfig.json
package.json
package-lock.json

var/cache
var/log
vendor

docker-compose.yml
install.sh
README.md

cypress/screenshots
cypress/videos
cypress/downloads
